PORT = 5000
JWT_SECRET ="maneesha123"
SUPABASE_URL="https://hofkmjymscaqsmdddnce.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhvZmttanltc2NhcXNtZGRkbmNlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1ODMwNTQsImV4cCI6MjA4OTE1OTA1NH0.zSX-KZrpaB60fQxDwPQ4zbIBzfHZT-RujDMd0ljXZXU"
# The direct connection to PostgreSQL (Replace [YOUR_PASSWORD] with your actual DB password)
DATABASE_URL="postgresql://postgres:v%40JxPW/Z-M5!*4z@db.hofkmjymscaqsmdddnce.supabase.co:5432/postgres"

# The port your database runs on (Standard for Postgres)
DB_PORT=5432

# The specific project ID (found in your URL)
SUPABASE_PROJECT_ID="hofkmjymscaqsmdddnce"